UT5API/src/main/resources/xsd/users.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://artistapi.com/users"
           xmlns:tns="http://artistapi.com/users"
           elementFormDefault="qualified">

    <xs:element name="getUserByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getUserByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:User"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="User">
        <xs:sequence>
            <xs:element name="userId" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="username" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>